name: frontend-ci

on:
  push:
    branches: [ main, dev, development ]
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ main, dev, development ]
    paths:
      - 'frontend/**'

jobs:
  build-frontend:
    name: Build Frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci
        working-directory: frontend

      - name: Build
        run: npm run build
        working-directory: frontend